.url-source {
  margin: 1em 0;
}

.card {
  margin-bottom: 1em;
}

.card-input {
  margin-bottom: 1em;
}

.card-button {
  margin-bottom: 1em;
}

.url-link {
  color: grey;
  font-size: 1em;
}

.required-star {
  color: red;
}

.response-label {
  margin-top: .5em;
}

.post {
  color: red;
}

.get {
  color: green;
}

.put {
  color: orange;
}
